/* My store form styles are here */

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.admin-form {
    border: 2px solid rgb(0, 149, 255);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.product-from {
    width: 100%;
    height: 100%;
    background-color: red;
 }

.form-section h2 {
    text-align: center;
    color: rgba(243, 200, 44, 0.906);
    font-size: 1.3rem;
}

.form-fields {
    display: flex;
    flex-direction: column;
    padding: 9px 13px;
}

.form-fields input {
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #80808066;
    border-radius: 5px;
}

.form-fields select {
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #80808066;
    border-radius: 5px;
}

.form-fields select option {
    color: rgb(5, 145, 205);
    font-weight: 500;
}

.form-section button {
    background: #ff5700;
    font-weight: bold;
    margin: 6px 1rem;
    width: 95%;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    border: none;
}

.form-fields img {
    width: 100px;
    height: 80px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td img {
    width: 50px;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}